#id_CabecalhoPrincipal{
    width: 100%;
    height: 60px;
    
    background-color: blue;
    position: relative;
    box-shadow: 0 1px 10px black;
}



#id_PaginaPrincipal{
    width: 100%;
    height: 80%;

    position: relative;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 40px;
}


#id_ConteudoPrincipal{
    width: 54%;
    height: 800px;

    margin-left: 3%;
    margin-right: 3%;


    position: relative;
	float: left;


	overflow-y: scroll;


}

#id_ConteudoPostado{
    width: 100%;
    height: max-content;



    position: relative;

    float: left;

    background-color: white;

	margin-top: 20px;
}

#id_FazerPostagem{
    width: 100%;
    height: 280px;


    position: relative;

    float: left;

    background-color: white;
    box-shadow: 0px 0px 10px black;
}

#id_ButtomPublicar{
	position: absolute;
	right: 0px
}

#textarea1{
    width: 100%;
    height: 160px;
    overflow-y: auto;
    resize: none;

    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
}
#id_CaixaTexto{

    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}






#id_SectionUsuario{
    width: 20%;
    height: max-content;

    position: relative;
    float: left;
  

    background-color: white;
}

#id_NomeUsuario{
	width: 100%;
	height: 40px;
	background-color: blue;
	

}

#id_IMGPerfil{
	display: block;
	width: 60%;
	height: 180px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#id_ConteudoUsuario{
    width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;

    height: max-content;

    position: relative;
  

    box-shadow: 0px 0px 10px black;

	
}

#id_Infor{
	width: 100%;
margin-top: 0px;
	margin-bottom: 0px;
overflow-x: scroll;
}



#id_SectionAmigos{
    width: 20%;


    position: relative;
    float: right;

    background-color: white;
    box-shadow: 0px 0px 10px black;
}

#pesquisar{
    width: 200px;
    height: 30px;
}



#id_publicarPoster{
    width: 90%;
}

#id_CaixaPesquisa{
    background-color: white;
    width: 300px;
    height: 30px;

    border-radius: 10px 0px 0px 10px;
}


#id_Button_Pesquisar{
    border-radius: 0px 10px 10px 0px;
}

#id_form_pesquisa{
    position: absolute;
    left: 30%;
    top: 30%;
}

#id_NossaRedePrincipal{
    position: relative;
    left: 5%;

    font-size: 30px;
    text-align: center;

    height: 50px;
    width: 200px;
    color: white;



    box-shadow: 0 0px 15px white;
    text-shadow: 0 0px 15px black;

    display: inline-block;
}


#id_CriarPostagem{
    width: 100%;
    height: 50px;

    background-color: blue;

    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

#id_Perfil{
    width: 150px;
    height: 50px;
    background-color: blue;
}

#id_TableUser{
    width: 90%;
    height: 90%;

    margin-top: 2%;
    margin-left: 2%;

    border: solid black;
}