<header id="id_CabecalhoPrincipal">
  <h1 id="id_NossaRedePrincipal">Nossa Rede</h1>
  <form action="Cadastro.html" id="id_form_pesquisa">
    <input placeholder="Pesquisar" id="id_CaixaPesquisa" type="search" class="validate">
    <input type="submit" id="id_Button_Pesquisar" value="search" />
  </form>

  <input type="submit" id="id_Button_Login" value="Sair" />
</header>



<main id="id_PaginaPrincipal">
  <section id="id_SectionUsuario">
    <h1 id="id_NomeUsuario">{{usuarioLogado().getNome()}}</h1>
    <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/5/5c/Yu-Gi-Oh%21_vol._01.jpg/250px-Yu-Gi-Oh%21_vol._01.jpg"
      id="id_IMGPerfil" />
    <section id="id_ConteudoUsuario">


      <div l class="collection" id="id_Infor">
        <table>
          <tr class="collection-item">
            <td>Nome: </td>
            <td>{{usuarioLogado().getNome()}}</td>
          </tr>
          <tr class="collection-item">
            <td>Email: </td>
            <td>{{usuarioLogado().getEmail()}}</td>
          </tr>
          <tr class="collection-item">
            <td>Nascimento: </td>
            <td></td>
          </tr>
          <tr class="collection-item">
            <td>Sexo: </td>
            <td>{{usuarioLogado().getSexo()}}</td>
          </tr>
        </table>
      </div>
    </section>
  </section>


  <section id="id_ConteudoPrincipal">
    <section id="id_FazerPostagem">
      <h1 id="id_CriarPostagem">Criar Novo Poster</h1>
        <div class="input-field col s12" id="id_CaixaTexto">
          <textarea id="textarea1"  #valorInput="ngModel" [(ngModel)]="conteudo"></textarea>
          <label for="textarea1">Publique o que está pensando...</label>
        </div>
        <input type="submit" value="Publicar" id="id_ButtomPublicar" (click) = "postar(valorInput.value)"/>
    </section>

    <section id="id_ConteudoPostado" *ngFor="let postagem of getPosters()">

      <div class="card">
        <div class="card-content">
          <div class="chip">
            <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/5/5c/Yu-Gi-Oh%21_vol._01.jpg/250px-Yu-Gi-Oh%21_vol._01.jpg"alt="Contact Person">
            <b>{{postagem.getAutor()}}</b>
          </div>
          <p>{{postagem.getConteudo()}}</p>
        </div>
        <div class="card-action">
          Postado em: {{postagem.getData()}}

        </div>
      </div>
    </section>
  </section>

  <section id="id_SectionAmigos">
    Sem Amigos
  </section>
</main>
<footer>
  fdfdfd
</footer>