body {
  background-color: rgb(0, 0, 0);
  width: 80%;
  height: max-content;
  margin-left: 10%;
  margin-right: 10%;

  border: solid white;

  position: absolute;

  min-height: 100%;
  max-height: max-content;

}