#id_form_pesquisa{
    position: relative;
    width: 65px;
    height: 60px;
    margin: 0 auto;
    -webkit-transition: 0.5s;
    margin-bottom: 20px;
}

#id_form_pesquisa:hover{
    position: relative;
    width: 350px;
    height: 60px;
    margin: 0 auto;
    -webkit-transition: 0.5s;
    margin-bottom: 20px;
}

#id_form_pesquisa:hover > #id_img_search{
    position: absolute;
    right: 0%;
    width: 60px;
    padding-left: 20px;
    -webkit-transition: 0.5s;
}

#id_form_pesquisa:hover > #id_CaixaPesquisa{
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 280px;
    left: 5px;
    -webkit-transition: 0.5s;
    background-color: white;
}


#id_img_search{
    position: relative;
    width: 60px;
    -webkit-transition: 0.5s;
}

#id_CaixaPesquisa{
    position: relative;
    display: inline-block;
    width: 0px;
    height: 45px;
    -webkit-transition: 0.5s;
}

#id_informacoes{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px; 
    width: 400px;
    background-color: ghostwhite;
    -webkit-transition: 0.5s;
    border-bottom: solid DarkGrey;
    z-index: 3;
}

#id_tornar_amigo{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 3px;
    display: inline-block;

    z-index: 4;
    -webkit-transition: 0.2s;

    border: none;
    background-color: ghostwhite;
}

#id_tornar_amigo:hover{
    position: absolute;
    width: 33px;
    height: 33px;
    right: 5px;
    top: 0px;
    display: inline-block;
    z-index: 4;
    -webkit-transition: 0.2s;
    border: none;
    background-color: ghostwhite;
}

#id_tornar_amigo > img{
    width: 150%;
}