<header class="deep-blue accent-2">
  <h1 id="id_NossaRede">Nossa Rede</h1>
  <form action="">
      <a href="cadastrar.pt" id="id_cadastrar_button">Cadastrar</a>
  </form>

</header>
<section id="id_Login">
  <h1 id="id_Titulo_Logar_Usuario">Acessar Conta</h1>
  <form id="id_Form_Login">
    <div class="input-field col s6">
      <input type="email" name="nome" [(ngModel)]="email" required>
      <label>Nome:</label>
    </div>

    <div class="input-field col s6">
      <input type="password" name="senha" [(ngModel)]="senha" required>
      <label>Senha:</label>
    </div>
    <a href="index.html">Esqueceu a Senha?</a>
    <input type="submit" name="logar" value="Logar" id="id_Button_Logar" (click)="logar()">
  </form>
</section>

<p *ngIf="logado==false" id="id_erro_login">
Login ou Senha Incorretos
</p>
<footer>
  © 2014 Copyright Text

</footer>