<aside id="id_popap_perfil">
    <a href="login.pt" id="id_mensagem">
        <img src="http://127.0.0.1/Imagens/mensagem.png" id="id_img_mensagem" title="Menssagens" alt="Menssagens do usuário" />
    </a>

    <a href="login.pt" id="id_notificacao">
        <img src="http://127.0.0.1/Imagens/notificacao.png" id="id_img_notificacao" title="Notificações" alt="notificações do usuario" />
    </a>

    <a href="login.pt" id="id_perfil">
        <img src="http://127.0.0.1/Imagens/usuario.jpeg" id="id_img_perfil" title="Imagem do perfil do usuário" alt="Perfil do usuario" />
    </a>

    <section id="id_informacoes">
        <a href="login.pt" class="informacoes">{{nome}}</a>
        <a href="login.pt" class="informacoes">Mensssagens</a>
        <a href="login.pt" class="informacoes">Amigos</a>
    </section>

    <a  id="id_minhaconta_button" (click)="paginaMinhaConta()">Minha Conta</a>
    <a href="login.pt" id="id_sair_button" (click)="sair()">Sair</a>
</aside>