<aside id="id_popap_perfil">
    <a href="login.pt" id="id_mensagem">
        <img src="mensagem.png" id="id_img_mensagem" title="Menssagens" alt="Menssagens do usuário" />
    </a>

    <a href="login.pt" id="id_notificacao">
        <img src="notificacao.png" id="id_img_notificacao" title="Notificações" alt="notificações do usuario" />
    </a>

    <a href="login.pt" id="id_perfil">
        <img src="usuario.jpeg" id="id_img_perfil" title="Imagem do perfil do usuário" alt="Perfil do usuario" />
    </a>

    <section id="id_informacoes">
        <a href="login.pt" class="informacoes">Usuario Sobrenome</a>
        <a href="login.pt" class="informacoes">Mensssagens</a>
        <a href="login.pt" class="informacoes">Amigos</a>
    </section>

    <a href="login.pt" id="id_minhaconta_button">Minha Conta</a>
    <a href="login.pt" id="id_sair_button">Sair</a>
</aside>