<form action="Cadastro.html" id="id_form_pesquisa">
  <input placeholder="Pesquisar" id="id_CaixaPesquisa" type="search" class="validate" #pesquisa (keyup)="pesquisaPessoas(pesquisa.value)">
  <img src="http://127.0.0.1/Imagens/search.png" id="id_img_search" title="Pesquisar" alt="Imagem do icone de Pesquisa">

</form>

<section *ngFor="let usuario of pessoas, let i = index" id="id_informacoes">
  {{usuario.nome}}
  <button id="id_tornar_amigo" (click)="adicionarAmigo(usuario.id)">
    <img src="http://localhost/Imagens/adicionar.png" title="Tornar-se Amigo" alt="Tornar-se Amigo" />
  </button>
</section>