<menu-popap-perfil>Perfil</menu-popap-perfil>


<header id="id_CabecalhoPrincipal">
  <h1 id="id_NossaRedePrincipal">Nossa Rede</h1>
  <pesquisa-pessoas></pesquisa-pessoas>
</header>



<main id="id_PaginaPrincipal">
  <section id="id_amigos_online">
    <amigos-online></amigos-online>
  </section>
<!--

  <section id="id_ConteudoPrincipal">
    <section id="id_FazerPostagem">
      <h1 id="id_CriarPostagem">Criar Novo Poster</h1>
        <div class="input-field col s12" id="id_CaixaTexto">
          <textarea id="textarea1"  #valorInput="ngModel" [(ngModel)]="conteudo"></textarea>
          <label for="textarea1">Publique o que está pensando...</label>
        </div>
        <input type="submit" value="Publicar" id="id_ButtomPublicar" (click) = "postar(valorInput.value)"/>
    </section>

    <section id="id_ConteudoPostado" *ngFor="let postagem of getPosters()">

      <div class="card">
        <div class="card-content">
          <div class="chip">
            <img src="9.jpg"alt="Contact Person">
            <b>{{postagem.getAutor()}}</b>
          </div>
          <p>{{postagem.getConteudo()}}</p>
        </div>
        <div class="card-action">
          Postado em: {{postagem.getData()}}

        </div>
      </div>
    </section>
  </section>

  <section id="id_SectionAmigos">
    Sem Amigos
  </section>-->
</main>
<footer>
  © 17/02/2018
</footer>
